* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
  header, main, footer {
    margin: 10px auto;
    width:80%;
  } 

  h1 {
    color: black;
  }
   
    
  p, 
  li {
    font-size: 18px;
  }
  
  .container {
    
    border: 1px solid darkgrey;
  }

  footer *{
    background-color: darkgrey;
    font-family: sans-serif;
    margin:0;
  }

  footer {
    margin-top: 50px;
  }

  footer p, 
  li {
    font-size: 10px;
  }
  

  
 /*should use th LVHA order, so the rules can correctly override*/ 
  a:link {
    text-decoration: none;
    color:lightskyblue;
  }

  a:visited {
    color:burlywood;
  }

  a:hover { 
    color: #b3ff50;
  }


  a:active { 
    color: orange;
  }
 