* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  footer *{
    background-color: darkgrey;
    font-family: sans-serif;
    margin:0;
  }

  footer {
    margin-top: 50px;
    min-width:900px;
    max-width: 1200px;
  }

  footer p, 
  li {
    font-size: 10px;
  }
  

  
 /*should use th LVHA order, so the rules can correctly override*/ 
  a:link {
    text-decoration: none;
    color:lightskyblue;
  }

  a:visited {
    color:burlywood;
  }

  a:hover { 
    color: #b3ff50;
  }


  a:active { 
    color: orange;
  }
 
 