  * {
    font-family: Helvetica, Arial, sans-serif;
    color:hsl(25, 100%, 97%);
    background-color: black;
    opacity: 0.9;
    text-align: center;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color:hsl(25, 100%, 97%);
    background-color: black;
    opacity: 0.9;
    text-align: center;
    padding:0;
    min-width: 1200px;
    margin: 0;
  }

  header {
    margin: 0;
    position: fixed;
    top:0;
    height: 69px;
    width: 100%;
    border: none;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-color: black;
    opacity: 0.9;
  }

  .nav-logo {
    height: 50px;
    margin-left: 10px;
    filter:hue-rotate(25deg) saturate(100%) brightness(97%)
  }

  .nav-right UL{
    margin: 0;
  }
 

  .nav-right li{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }


  .nav-right li::after{
    content: '';
    width: 10px;
  }
  
  
  .nav-right a{
    color:seashell;
    text-decoration: underline;
    line-height: 50px;
  }


  main {
    position: relative;
    top: 70px;
    margin: 0 auto;
    padding-bottom: 1px;
  }
  
  section {
    margin: 0 auto;
  }
  

  #mission {
    background-image: url('../img/img-mission-background.jpg');
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #featured {
    width: 1000px;
    padding-top: 60px;  /*avoid margin collapse*/
    padding-bottom: 60px;
  }

  .img-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
  }

  .img-content figure{
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
  }


  

  .img-content img{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;

  }

  #locations {
    background-image: url('../img/img-locations-background.jpg');
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #locations h2{
    background-color: transparent;
  }

  .card-container {
    background-color: transparent;
  }

  .card {
    display: inline-flex;
    height: 300px;
    width: 300px;
    background-color: black;
    opacity: 1;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    align-content: space-between;
  }
 
  .intro {
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h5.mark{
    text-align: left;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
   
  footer *{
    background-color: darkgrey;
    font-family: sans-serif;
    margin:0;
    text-align: left;
  }

  footer {
    margin-top: 50px;
    min-width:900px;
    border-top: 1px solid transparent;
    padding-top: 1px;
  }

  footer p, 
  footer li {
    font-size: 10px;
  }
  

  
 /*should use th LVHA order, so the rules can correctly override*/ 
  footer a:link {
    text-decoration: none;
    color:lightskyblue;
  }

  footer a:visited {
    color:rgb(235, 76, 13);
  }

  footer a:hover { 
    color: #b3ff50;
  }


  footer a:active { 
    color: orange;
  }
 