  
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color:hsl(25, 100%, 97%);
    background-color: black;
    opacity: 0.9;
    text-align: center;
    padding:0;
    margin:0;
  }

  header {
    margin: 0;
    position: fixed;
    top:0;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-color: black;
    opacity: 0.9;
  }

  .nav-logo {
    height: 50px;
    margin-left: 10px;
    filter:hue-rotate(25deg) saturate(100%) brightness(97%)
  }

  .nav-right li{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }


  .nav-right li::after{
    content: '';
    width: 10px;
  }
  
  
  .nav-right a{
    color:seashell;
    text-decoration: underline;
    line-height: 50px;
  }


  main {
    position: relative;
    top: 70px;
  }
  
  

  #mission {
    background-image: url('../img/img-mission-background.jpg');
    width: 1200px;
    height: 700px;
  }
  


   
  footer *{
    background-color: darkgrey;
    font-family: sans-serif;
    margin:0;
  }

  footer {
    margin-top: 50px;
    min-width:900px;
 
  }

  footer p, 
  footer li {
    font-size: 10px;
  }
  

  
 /*should use th LVHA order, so the rules can correctly override*/ 
  footer a:link {
    text-decoration: none;
    color:lightskyblue;
  }

  footer a:visited {
    color:burlywood;
  }

  footer a:hover { 
    color: #b3ff50;
  }


  footer a:active { 
    color: orange;
  }
 